<div class="messages-container">
  <div class="top" style="display: flex; padding: 1.34rem; gap: 1.34rem">
    <h3>
      <%= contact_info(@room).name %>
      <%= contact_info(@room).profile_picture %>
    </h3>
  </div>
  <div id="messages">
    <%= render @messages %>
  </div>
  <div class="bottom">
    <%= render 'messages/new_message', message: @message, room: @room%>
  </div>
</div>
