<%= turbo_stream.remove "spinner" %>
<%= turbo_stream.append "posts" do %>
  <%= render @users_to_chat_with %>
  <% if @users_to_chat_with.page(@page.to_i + 1).out_of_range? %>
    <span class="hidden" data-pagination-target="noRecords"></span>
  <% end %>
<% end %>
  