<%= turbo_stream.remove "spinner" %>
<%= turbo_stream.append "posts" do %>
  <%= @messages.nil? %>
  <%= render @messages %>
  <% if @messages.page(@page.to_i + 1).out_of_range? %>
    <span class="hidden" data-pagination-target="noRecords"></span>
  <% end %>
<% end %>
