@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');



/*
-
-
- Application - html
-
-
-
*/

 *{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

body {
   max-width: 100vw;
   height: 100vh;
   background: linear-gradient(45deg, #382D42, #d69563, #4d4a69, #74AE9C, #A379B5, #D5BEE5);
   background-size: 400% 400%;
   animation: colors 27s ease infinite;
   background-repeat: no-repeat;
}


@keyframes colors {
   0% {
      background-position: 0% 50%;
   }
   50%{
      background-position: 100% 50%;
   }
   100%{
      background-position: 0% 50%;

   }
}






/*
-
-
- Index.html (se o usuario estiver logado)
-
-
-
*/




.actiom {
   position: fixed;
   top: 20px;
   right: 50px;

}


.profile-settings {
   border: #FFF2E7 solid 3px;
   position: relative;
   width: 60px;
   height: 60px;
   border-radius: 50%;
   overflow: hidden;
   cursor: pointer;
}

.profile-settings img {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.menu-perfil{
   position: absolute;
   top: 80px;
   right: -10px;
   padding: 10px 20px;
   background: #ffffff;
   width: 270px;
   box-sizing: 0 5px 25px rgba(0,0,0,0.1);
   border-radius: 15px;
   transition: 0.5s;
   visibility: hidden;
   opacity: 0;
}

.actiom .menu-perfil.active {
   visibility: visible;
   opacity: 1;
}

.actiom .menu-perfil::before {
   content: '';
   position: absolute;
   top: -5px;
   right: 28px;
   width: 20px;
   height: 20px;
   background: #fff;
   transform: rotate(45deg);
}

.menu-perfil-titulo {
   width: 100%;
   text-align: center;
   font-size: 18px;
   padding: 20px 0;
   font-weight: 500;
   font-size: 18px;
   color: #555;
   line-height: 1.2em;
}

.actiom .menu-perfil ul li {
   width: 85%;
   list-style: none;
   padding: 10px;
   border-top: 1px solid rgba(182, 174, 174, 0.5);
   display: flex;
   align-items: center;
}

.actiom .menu-perfil ul li i {
   max-width: 20px;
   margin-right: 10px;
   opacity: 0.5;
   transition: 0.5s;
}

.menu-perfil i {
   font-size: 1.2em;
   background: -webkit-linear-gradient(45deg, #8405ab, #710e7a);
   -webkit-background-clip: text;
   background-clip: text;
   -webkit-text-fill-color: transparent;
}

.actiom .menu-perfil ul li:hover img {
   opacity: 1;
}

.actiom .menu-perfil ul li a {
   display: inline-block;
   text-decoration: none;
   color: #555;
   font-weight: 500;
   transition: 0.5s;
}

.actiom .menu-perfil ul li:hover a{
   color: #9681be;
}

.botao-sair {
   border: none;
   background-color: none;
   text-decoration: none;
}


.usi-container {
   display: flex;
}

.usi-side {
   min-width: 320px;
   height: 200px;
   background-color: #fff;
   height: 100%;
   min-height: 100vh;
   border-right: 1px solid #e1e1e1 ;

}

.usi-side a {
  text-decoration: none;
  color: inherit;
}


.usi-header {
   background-image: linear-gradient(to right, #da5460, #cc4166, #bb2f6c, #a62172, #8e1977, #891780, #831889, #7a1b93, #8a1da5, #9a1eb7, #ab1fc9, #bc1fdc);   width: 100%;
   height: 80px;
   box-shadow: 0 1px 8px 0 rgba(0, 20, 20, 0.2);
   display: flex;
   align-items: center;
   padding: 0 20px;
}

.usi-side-avatar img {
   width: 40px;
   height: 40px;
   border-radius: 20px;
   border: 2px solid #fff;
   box-shadow: 0 1px 8px 0 rgba(0, 20, 20, 0.2); ;
}

.usi-title {
   padding: 0 10px;
   color: #fff;
   font-size: 23px;
}

.usi-menu ul {
   display: flex;
   padding: 0 20px;
}

.usi-menu ul li {
   list-style: none;
   margin: 0 10px;
   font-weight: 700;
   font-size: 15px;
   letter-spacing: 0.5px;
   margin-top: 10px;
}

.usi-active {
   border-bottom: 3px solid #aa22cc;
   padding-bottom: 2px;
}

.usi-messages {
   padding: 10px 20px;
   display: flex;
   align-items: center;
   transition: 0.2 box-shadow;
}

.usi-messages .usi-avatar img {
 width: 70px;
 height: 70px;
 border-radius: 70px;
}

.usi-user {
   padding: 0 10px;
   font-weight: 600;
   letter-spacing: 0.5px;
   font-size: 18px;
}

.usi-text {
   width: 200px;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
   padding: 0 10px;
   font-weight: 300;
   font-size: 15px;
   opacity: 0.8;
}

.usi-messages:hover {
   box-shadow: 0 0 15px 0 rgba(43,78,78,01);
   border-right: 5px solid #aa22cc;
   cursor: pointer;
}

.usi-content {
   width: 100%;
   display: flex;
   padding: 20px 0;
   align-items: center;
   flex-direction: column;
}

.usi-card {
   position: relative;
   height: 450px;
}

.usi-user-recomendado {
   width: 380px;
   height: 450px;
   object-fit: cover;
   border-radius: 10px;
   box-shadow: 0 1px 10px 0 rgba(0, 20, 20, 0.5);
}

.usi-user-recomendado-profile {
   position: absolute;
   bottom: 0;
   left: 20px;
}

.usi-user-recomendado-name {
   color: #FFF2E7;
   font-size: 32px;
   font-weight: 700;
   letter-spacing: 0.5px;
   text-shadow: 1px 1px 3px #444;
}

.usi-user-recomendado-name span {
   font-size: 26px;
}

.usi-user-recomendado-local {
   display: flex;
   align-items: center;
   padding: 0 0 20px 0;
}

.usi-user-recomendado-local i {
   margin: 5px 0;
   color: #710e7a;
}

.usi-user-recomendado-local span {
   color: #fff;
   padding: 0 10px;
   text-shadow: 1px 1px 3px #444;
}

.usi-buttons {
   margin-top: 10px;
   display: flex;
   align-items: center;
}

.usi-buttons .no i {
   color: #fd2e79;
   font-size: 43px;
   cursor: pointer;
}

.usi-buttons .star i {
   color: #2bb1ff;
   font-size: 32px;
   cursor: pointer;
}

.usi-buttons .heart i {
   color: #11e298;
   font-size: 32px;
   cursor: pointer;
}

.no,
.star,
.heart {
   background-color: #fff;
   width: 70px;
   height: 70px;
   box-shadow: 0 1px 10px 0 rgba(0, 20, 20, 0.5);
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 70px;
   margin: 4px;
   transition: 0.2s transform;
}

.no:hover,
.star:hover,
.heart:hover {
   transform: scale(1.1);
}

.usi-buttons .star {
   width: 60px;
   height: 60px;
}

/*
-
-
- Index.html (se o usuario não estiver logado)
-
-
-
*/

.home {

   background: linear-gradient(45deg, #382D42, rgb(214, 149, 99), rgb(77, 74, 105), #74AE9C, #A379B5, rgb(179, 138, 209), #D5BEE5);
   background-size: 400% 400%;
   animation: colors 20s ease infinite;
}



@keyframes colors {
   0% {
      background-position: 0% 50%;
   }
   50%{
      background-position: 100% 50%;
   }
   100%{
      background-position: 0% 50%;

   }
}


.cabecalho {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-left: 30px;
    border-bottom: 0.4px solid #FFF2E7;
 }


 .cabecalho-logo {
    height: 80px;
    padding-right: 520px;

}

 .cabecalho-menu {
    display: flex;
    gap: 38px;
 }

 .cabecalho-menu-botao-login {
   font-family: 'Sarala', sans-serif;
   background-color: rgba(255, 255, 255, 0);
   width: 140px;
   height: 50px;
   border: solid lightgray;
   border-radius:20px ;
   box-shadow: 4px 4px 5px 4px rgba(0, 0, 0, 0.25);
   font-weight: 400;
   font-size: 24px;
   color: #ffffff;
 }

 .cabecalho-menu-botao-criar {
   background-color: hwb(83 17% 38% / 0);
   width: 160px;
   height: 50px;
   border: solid lightgray;
   border-radius:20px ;
   box-shadow: 4px 4px 5px 4px rgba(0, 0, 0, 0.25);
   font-family: 'Sarala', sans-serif;
   font-weight: 400;
   font-size: 24px;
   color: #ffffff;
 }


 .conteudo {
   padding-left: 30px;
    margin-bottom: 48px;
 }

 .conteudo-principal{
   padding-top: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
 }

 .conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 32px;

 }

 .conteudo-principal-escrito-titulo {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 64px;
    color: #FFF2E7	;
 }

 .conteudo-principal-escrito-subtitulo {
   font-family: 'Sarala', sans-serif;
   font-weight: 400;
   font-size: 24px;
   color: #FFF2E7;
}

.conteudo-principal-escrito-botao {
   background-color: #ecd6c4;
   width: 180px;
   height: 60px;
   border: none;
   border-radius:20px ;
   box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
   font-family: 'Sarala', sans-serif;
   font-weight: 400;
   font-size: 24px;
   color: #2F2325;
}

.conteudo-principal-escrito-botao:hover {
   background-color: rgba(236, 214, 196, 0.53);
}

.conteudo-principal-imagem {
   height: 350px;

}

.conteudo-secundario {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 24px;
   margin-top: 48px;
}

.conteudo-secundario-titulo {
   border-top: 0.4px solid #FFF2E7;
   padding-top: 48px;
   font-family: 'Righteous' cursive;
   font-weight: 400;
   font-size: 30px;
   color: #FFF2EF;
   margin-bottom: 16px;
}

.conteudo-secundario-paragrafo {
   font-family: 'Sarala' sans-serif;
   font-weight: 300;
   font-size: 20px;
   color: #FFF2E7;

}

.rodape {

   border-top: 0.4px solid #FFF2E7;
   padding: 32px;

}

.rodape-titulo {
   background-image: radial-gradient(circle at 50% -20.71%, #badbff 0, #c2daff 6.25%, #c9d8ff 12.5%, #d0d6ff 18.75%, #d8d4ff 25%, #dfd2fe 31.25%, #e6d0fa 37.5%, #eccff6 43.75%, #f2cdf2 50%, #f7cced 56.25%, #fccbe8 62.5%, #ffcae2 68.75%, #ffc9dd 75%, #ffc9d7 81.25%, #ffc9d1 87.5%, #ffc9cc 93.75%, #ffcac6 100%);
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   color: black;
   font-size: 10rem;
   font-weight: 400;
   line-height: 1.1;
   margin-left: 25%;
   padding: 0px;
 }



 /*
-
-
- Views geradas do devise
-
-

-
*/

/*
   Tela de login
*/


.devise {
   position: relative;
   top: 50%;
   left: 40%;
   transform: translate(-50%, -50%);
   display: flex;
   justify-content: center;
}

.devise-conteudo {
   padding: 0px 50px;
   max-width: 1000px;
   display: flex;
   align-items: center;
}

.devise-conteudo-imagem{
   height: 550px;
   margin-right: 50px;
}


.devise-conteudo-login-view {
   margin-right: 15%;
   background: white;
   border-radius: 40px;
   box-shadow: 4px 4px 5px 4px rgba(0, 0, 0, 0.25);
   padding: 60px;
   width: min-content;
   align-items: center;
   color: #2b343b;
}

.login-view a {
   color:#382D42;
}

.login-view-titulo {
   font-family: 'Righteous', cursive;
   font-weight: 400;
   font-size: 64px;
   color: black;
   margin-bottom: 10%;
   margin-left: 20%;
}

.login-view-titulo-senha {
   font-family: 'Sarala', sans-serif;
   font-weight: 400;
   font-size: 40px;
   color: black;
   margin-bottom: 10%;
   margin-left: 0%;
}

.login-view-input {
   min-width: 280px;
   border-radius: 22px;
   border: 2px #6f7e8a solid;
   padding: 5px;
   margin: 0px 0px 12px -5px;

}

.login-view-input i {
   font-size: 1.2em;
   padding: 5px;
   background: -webkit-linear-gradient(45deg, #474566, #59547c, #6c6391, #8072a8, #9681be, #a389ca, #b190d6, #bf98e2, #c89ae6, #d19ceb, #da9eee, #e4a0f2);
   -webkit-background-clip: text;
   background-clip: text;
   -webkit-text-fill-color: transparent;
}

.login-view-input input {
   width: 80%;
   border: none;
   outline: none;
   font-family: 'Sarala', sans-serif;
   transform: translateY(-10%);
   color: #2b343b;
}

.login-view-botao {
   margin-top: 10%;
   width: 100%;
   text-align: center;
}

.login-view-botao input {
   font-family: 'Righteous', cursive;
   background: linear-gradient(45deg, #474566, #59547c, #6c6391, #8072a8, #9681be, #a389ca, #b190d6, #bf98e2, #c89ae6, #d19ceb, #da9eee, #e4a0f2);
   width: 100%;
   height: 40px;
   border: none;
   font-size: 1.2em;
   color: white;
   border-radius: 20px;
   outline: none;
   cursor: pointer;
   margin-bottom: 10px;
}

.devise a {
   color: rgb(152, 26, 163);
   text-decoration: none;
}



/*
   Tela de registro
*/

.registration-view {
   position: relative;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background: white;
   border-radius: 40px;
   padding: 60px;
   width: min-content;
   align-items: center;
   color: #2b343b;
}


.registration-view-titulo {
   font-family: 'Righteous', cursive;
   font-weight: 400;
   font-size: 42px;
   color: black;
   margin-bottom: 10%;
   margin-left: 7%;
}


.registration-view-input {
   min-width: 280px;
   border-radius: 22px;
   border: 2px #6f7e8a solid;
   padding: 5px;
   margin: 0px 0px 12px -5px;

}

.registration-view-input i {
   font-size: 1.2em;
   padding: 5px;
   background: -webkit-linear-gradient(45deg, #474566, #59547c, #6c6391, #8072a8, #9681be, #a389ca, #b190d6, #bf98e2, #c89ae6, #d19ceb, #da9eee, #e4a0f2);
   -webkit-background-clip: text;
   background-clip: text;
   -webkit-text-fill-color: transparent;
}

.registration-view-input input {
   width: 80%;
   border: none;
   outline: none;
   font-family: 'Righteous', cursive ;
   transform: translateY(-10%);
   color: #2b343b;
}

.registration-view-input-name {
   min-width: 280px;
   height: 43px;
   border-radius: 22px;
   border: 2px #6f7e8a solid;
   padding: 5px;
   margin: 0px 0px 12px -5px;
}

.registration-view-input-name i {
   font-size: 1.2em;
   padding: 5px;
   background: -webkit-linear-gradient(45deg, #474566, #59547c, #6c6391, #8072a8, #9681be, #a389ca, #b190d6, #bf98e2, #c89ae6, #d19ceb, #da9eee, #e4a0f2);
   -webkit-background-clip: text;
   background-clip: text;
   -webkit-text-fill-color: transparent;
}

.registration-view-input-name input {
   width: 80%;
   border: none;
   outline: none;
   font-family: 'Righteous', cursive ;
   transform: translateY(-10%);
   color: #2b343b;
}

.registration-view-botao {
   margin-top: 10%;
   width: 100%;
   text-align: center;
}

.registration-view-botao input {
   font-family: 'Righteous', cursive;
   background: linear-gradient(45deg, #474566, #59547c, #6c6391, #8072a8, #9681be, #a389ca, #b190d6, #bf98e2, #c89ae6, #d19ceb, #da9eee, #e4a0f2);
   width: 100%;
   height: 40px;
   border: none;
   font-size: 1.2em;
   color: white;
   border-radius: 20px;
   outline: none;
   cursor: pointer;
}

.registration-view a {
   color:#382D42;
}


   .loginview-titulos {
      font-family: 'Righteous', cursive;
      font-weight: 400;
      font-size: 30px;
      color: black;
      margin-bottom: 10%;
   }


/*





Responsividade





*/


@media screen and (min-width: 1366px){
      .rodape {
         position: relative;
         margin-right: 13%;
         margin-left: 13%;
      }
      .conteudo-secundario-titulo {
         position: relative;
         margin-right: 15%;
         margin-left: 15%;
      }
      .conteudo-secundario {
         position: relative;
         margin-right: 20%;
         margin-left: 15%;
      }

   .devise{

   left: 35%;
   }



      .devise-conteudo-login-view {
         margin-right: 30%;
         background: white;
         border-radius: 40px;
         box-shadow: 4px 4px 5px 4px rgba(0, 0, 0, 0.25);
         padding: 130px;
         width: min-content;
         align-items: center;
         color: #2b343b;

    }
    .devise-conteudo {
font-size: 20px;
    }

    .devise-conteudo-imagem{
      height: 800px;
      margin-left: 0px;


   }


}



