@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

*{
      margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/*.paidetudo {
   }
*/
.inicio {
   font-size: 100%;
   background: linear-gradient(45deg, #382D42, #D69563, #4D4A69, #74AE9C, #A379B5, #B38AD1, #D5BEE5);
   background-size: 400% 400%;
   animation: colors 20s ease infinite;
}



@keyframes colors {
   0% {
      background-position: 0% 50%;
   }
   50%{
      background-position: 100% 50%;
   }
   100%{
      background-position: 0% 50%;

   }
}
.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 0px;
    border-bottom: 0.4px solid #FFF2E7;
 }


 .cabecalho-logo {
    padding-right:48%;
    height: 100px;
    padding-right: 640px;

}

 .cabecalho-menu {
    display: flex;
    gap: 38px;
 }

 .conteudo {
    margin-bottom: 48px;
 }

 .conteudo-principal{
   padding-top: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
 }

 .conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 32px;

 }

 .conteudo-principal-escrito-titulo {
    font-family: 'Righteous', cursive;
    font-weight: 400;
    font-size: 64px;
    color: #FFF2E7	;
 }

 .conteudo-principal-escrito-subtitulo {
   font-family: 'Sarala' sans-serif;
   font-weight: 400;
   font-size: 24px;
   color: #FFF2E7;
}

.conteudo-principal-escrito-botao {
   background-color: #ecd6c4;
   width: 180px;
   height: 60px;
   border: none;
   border-radius:20px ;
   box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
   font-family: 'Sarala', sans-serif;
   font-weight: 400;
   font-size: 24px;
   color: #2F2325;
}

.conteudo-principal-escrito-botao:hover {
   background-color: rgba(236, 214, 196, 0.53);
}

.conteudo-principal-imagem {
   height: 350px;
   padding-right: 10px;
}

.conteudo-secundario {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 24px;
   margin-top: 48px;
}

.conteudo-secundario-titulo {
   border-top: 0.4px solid #FFF2E7;
   padding-top: 48px;
   font-family: 'Righteous' cursive;
   font-weight: 400;
   font-size: 24px;
   color: #FFF2EF;
   margin-bottom: 16px;
}

.conteudo-secundario-paragrafo {
   font-family: 'Sarala' sans-serif;
   font-weight: 300;
   font-size: 18px;
   color: #FFF2E7;
}

.rodape {
   padding: 32px;
   border-top: 0.4px solid #FFF2E7;
}

.gradient {
   background-image: radial-gradient(circle at 50% -20.71%, #badbff 0, #c2daff 6.25%, #c9d8ff 12.5%, #d0d6ff 18.75%, #d8d4ff 25%, #dfd2fe 31.25%, #e6d0fa 37.5%, #eccff6 43.75%, #f2cdf2 50%, #f7cced 56.25%, #fccbe8 62.5%, #ffcae2 68.75%, #ffc9dd 75%, #ffc9d7 81.25%, #ffc9d1 87.5%, #ffc9cc 93.75%, #ffcac6 100%);
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   color: black;
   font-size: 10rem;
   font-weight: 400;
   line-height: 1.1;
   padding-left: 24%;
   padding-right: 20%;
 }


.messages-container {
  width: 70vw;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 20px;
}

.msg {
  color: white;
  width: 50vw;
  padding: 20px;
  margin: 10px 0 10px 0;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.msg-sent {
  background-color: rgb(143, 209, 117);
  align-self: flex-end;
}

.msg-received {
  background-color: #fdf0fd;
  align-self: flex-start;
  color: black !important;
}

.msg-form {
  margin-top: 40px;
  width: 80%;
}
